<form action="/peeps" method="post">
  <input type="text" name="message" placeholder="message"/>
  <input type="text" name="username" placeholder="username"/>
  <input type="submit" value="Submit" />
</form>
